lp_solve_5.5.2.11_exe_win64/
Resources/
system.lp
__pycache__/
gurobiresult.sol
gurobi.log

.DS_Store
schedule.json
input_system.json
schedule.json
input_system.json
.venv
lp.txt
lp1.txt
.vscode
/lp_solve_5.5
/lp_solve_5.5.2.11_dev_ux64